<!DOCTYPE html>
<html>

<head>
    <title>Index | NodeJS Typescript</title>
    <!-- Google Lato font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/typescript/css/bootstrap.min.css" />
    <!-- Custom styles  -->
    <link rel="stylesheet" type="text/css" href="/typescript/css/style.css" />
</head>

<body>
  <div class="auth-index">
    <div class="auth-container">
      <div class="card">
        <div class="auth-content">
          <p class="text-center">
            INDEX PAGE
          </p>
          <br />
          <p class="text-center">
            The version of the app is <span id="version"></span>
          </p>
          <p class="text-muted text-center">
            There is not much to do here so please
            <a href="/typescript/login">Logout</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- JQuery and Signup JavaScript -->
  <script type="text/javascript" src="/typescript/js/lib/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/typescript/js/index.js"></script>
</body>

</html>
